body {
    background-color: rgb(161, 172, 174);
    text-align: center;
}

p {
    color: black;
}

h1 {
    font-style: inherit;
}

.juju {
color: aqua;
}

.ricelly {
    width: 50%;
}